{% extends "base.html" %}
{% block content %}

<!DOCTYPE HTML>
<!--
 	Based on Road Trip by templated.co
-->

<html>
	<body>
		<!-- Banner -->
			<section id="banner" class="image" data-bg="static/images/banner.jpg">
				<div class="inner">
					<header>
						<h1>Destinos</h1>
						<p> Vem dar uma olhadinha nas dicas que separamos! </p>
					</header>
				</div>
				<a href="#one" class="more">Saiba mais</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="static/images/banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Portugal</h2>
							<p>É fixe!</p>
						</header>
						<div class="content"> 
							<p><span class="image right"><img src="static/images/pic02.jpg" alt="" /></span>Destino Portugal ? Aproveite a boa culinaria de Portugal com pratos deliciosos! Não deixe de provar um ótimo bacalhau as natas, um vinho do Porto e uma boa francesinha! </p>
							<p><span class="image left"><img src="static/images/pic02.jpg" alt="" /></span>Além de ser um dos destinos mais baratos da Europa, as cidades estão cheias de história e possuem um aconchego singular. Vai passar em Lisboa ? Não se esqueça de ir a Belém comer o famoso pastel de Belém, por perto também vale visitar Sintra, é um local encantador.</p>
						</div>
					</article>
				</div>
				<a href="#two" class="more">Saiba mais</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="static/images/banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Espanha</h2>
							<p>Você quer arquitetura? Aqui temos!</p>
						</header>
						<div class="content"> 
							<p><span class="image left"><img src="static/images/pic02.jpg" alt="" /></span>A Espanha possui muitas nuances e caracteristicas. A arquitetura de Gaudí e as belas prais como a barceloneta, você vai ir do natural ao contemporâneo em 15 minutos de mêtro. </p>
							<p><span class="image right"><img src="static/images/pic02.jpg" alt="" /></span> E a comida ? É algo excepcional! Não deixe de provar as tapas, a Paella e o Jabon Ibérico! Tudo isso com boa musica e gente simpatíca. Vale a pena a viagem! </p>
						</div>
					</article>
				</div>
				<a href="#te" class="more">Saiba mais</a>
			</section>

		<!-- Te -->
			<section id="te" class="wrapper post bg-img" data-bg="static/images/banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>França</h2>
							<p>Oui oui mes amis!</p>
						</header>
						<div class="content"> 
							<p><span class="image left"><img src="static/images/pic02.jpg" alt="" /></span>A França é charmosa, romantica e tem um 'Q' de chique. Quer uma baguette ou croassant? Os franceses andar pra cima e pra baixo com um deles.</p>
							<p><span class="image right"><img src="static/images/pic02.jpg" alt="" /></span> Lá estão os pontos turisticos mais visitados do mundo, como a Tour Eiffel e o museu do Louvre. Sem duvidas, vale apena a viagem. 
							</p>
						</div>
					</article>
				</div>
				<a href="#curtiu" class="more">Saiba mais</a>
			</section>
		<!-- Curtiu -->
			<section id="curtiu" class="wrapper post bg-img" data-bg="static/images/banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Curtiu as dicas? </h2>
							<p>Da uma olhadinha no github do projeto <a href="https://github.com/leticiacoelho/little-rabbit" class="icon round fa-github"><span class="label">Github</span></a></p>
							<p>Quer saber qual foi a stack que eu utilizei? <a href="https://stackshare.io/leticiacoelho/eurotrip-gq" class="icon round fa-bars"><span class="label">StackShare</span></a></p>
						</header>
					</article>
				</div>
				<a href="#te" class="more">Saiba mais</a>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>

{% endblock %}
