{% extends "base.html" %}
{% block content %}

<!DOCTYPE HTML>
<!--
 	Based on Road Trip by templated.co
-->

<html>
	<body>
		<!-- Content -->
			<section id="post" class="wrapper bg-img" data-bg="static/images/banner.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Portugal</h2>
							<p>É fixe!</p>
						</header>
						<div class="content"> 
							<p><span class="image right"><img src="static/images/pic02.jpg" alt="" /></span>Destino Portugal ? Aproveite a boa culinaria de Portugal com pratos deliciosos! Não deixe de provar um ótimo bacalhau as natas, um vinho do Porto e uma boa francesinha! </p>
							<p><span class="image left"><img src="static/images/pic02.jpg" alt="" /></span>Além de ser um dos destinos mais baratos da Europa, as cidades estão cheias de história e possuem um aconchego singular. Vai passar em Lisboa ? Não se esqueça de ir a Belém comer o famoso pastel de Belém, por perto também vale visitar Sintra, é um local encantador.</p>
						</div>
					</article>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>

{% endblock %}
