{% extends "base.html" %}
{% block content %}

<!DOCTYPE HTML>
<!--
 	Based on Road Trip by templated.co
-->

<html>
	<body>
		<!-- Banner -->
			{% for user in user %}
			<section id="banner" class="image" data-bg="static/images/banner.jpg">
				<div class="inner">
					<header>
						<h1>Oi {{user.nome}} !</h1>
					</header>
					<article class="box">
						<header>
							<h2>Ficamos felizes em te ver por aqui!</h2>
							
							<p>Verificamos os seus dados, e vamos mante-los aqui seguros, para no futuro você fazer parte da nossa plataforma de compartilhamento.</p>
							
							<p> {{user.nome}} {{user.sobrenome}},<br> seu telefone cadastrado é o {{user.telefone}},</br> e seu e-mail é o {{user.email}}.
						</p>
						</header>
					</article>
				</div>
				<a href="#one" class="more">Saiba mais</a>
			</section>
			{% endfor %}
		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="static/images/banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>EuroTrip</h2>
							<p>Brasileiros na Europa</p>
						</header>
						<div class="content">
							<p>As viagens realizadas por brasileiros nos paises da Europa são carinhosamente apelidadas de Eurotrips. Nosso papel é ajudar no compartilhamento das opniões dos viajantes, dicas de lugares, avaliaçãoes e contatos de pessoas que ajudaram com algo. Tudo isso é baseado em econômia criativa, sabe? Então, vem com a gente e compartilha a sua Eurotrip! </p>
						</div>
						<footer>
							<a href="destinos.html" class="button alt">Saiba mais!</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://github.com/leticiacoelho/little-rabbit" class="icon round fa-github"><span class="label">Github</span></a></a></li>
						<li><a href="https://stackshare.io/leticiacoelho/eurotrip-gq" class="icon round fa-bars"><span class="label">StackShare</span></a></li>
						<li><a href="https://www.linkedin.com/in/leticia-coelho-4303b3114/" class="icon round fa-linkedin"><span class="label">Linkedin</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>

{% endblock %}
