{% extends "base.html" %}
{% block content %}

<!DOCTYPE HTML>
<!--
 	Based on Road Trip by templated.co
-->

<html>
	<body>
		<!-- Banner -->
			<section id="banner" class="image" data-bg="static/images/banner.jpg">
				<div class="inner">
					<header>
						<h1>This is Euro Trip</h1>
					</header>
				</div>
				<a href="#one" class="more">Saiba mais</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="static/images/banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>EuroTrip</h2>
							<p>Brasileiros na Europa</p>
						</header>
						<div class="content">
							<p>As viagens realizadas por brasileiros nos paises da Europa são carinhosamente apelidadas de Eurotrips. Nosso papel é ajudar no compartilhamento das opniões dos viajantes, dicas de lugares, avaliaçãoes e contatos de pessoas que ajudaram com algo. Tudo isso é baseado em econômia criativa, sabe? Então, vem com a gente e compartilha a sua Eurotrip! </p>
						</div>
						<footer>
							<a href="destinos.html" class="button alt">Saiba mais!</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Fale conosco!</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>

{% endblock %}
